body{
    display: grid;
    grid-template-areas: 
        "cima"
        "meio"
        "rodape";
    grid-template-rows:auto auto 100px;
    grid-template-columns: auto;
    
}

header{
    grid-area: cima;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(213, 243, 255);
    background: linear-gradient();
}


main{
    grid-area: meio;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(243, 238, 243);
}

footer {
     grid-area: rodape;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(243, 238, 243);
}
    
    

